# Python Data Structures and Boolean

- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

## Boolean Variable

You can use function `bool()` to create a boolean variable

In [4]:
bool(0)

False

In [5]:
bool(1)

True

In [6]:
type(True)

bool

In [27]:
my_str = "PouriaNozari"

In [ ]:
my_str.istitle()

In [28]:
print(my_str.isalnum()) # Check if all char are numbers and alphabetic - Should not have space
print(my_str.isalpha()) # Check if all char are alphabetic - Should not have space
print(my_str.isdigit()) # Check if the string is all numbers
print(my_str.istitle()) # Check if the string contains title words - Only the first char should be Cap letter
print(my_str.isupper()) # Check if the string is all upper case
print(my_str.islower()) # Check if the string is all lower case
print(my_str.isspace()) # Check if the string is all white spaces
print(my_str.endswith("r")) # Check if the string ends with "r"
print(my_str.startswith("p")) # Check if the string ends with "p"

True
True
False
True
False
False
False
False
False

## Boolean and Logical Operators

In [29]:
True and True

True

In [30]:
True and False

False

In [32]:
True or False

True

In [34]:
False or False

False

In [40]:
str_eg = 'Hello World'
my_str = "Pouria"

In [45]:
my_str.isalpha() or str_eg.isnumeric()

True

## Lists
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets `[ ]`.

In [46]:
list_example = []

In [47]:
type(list_example)

list

You can also use `list()` to convert a non-list object to a list object.

In [48]:
lst = ["Math", "Chemistry", 200, 12, True]

In [49]:
len(lst)

5

In [50]:
lst2 = [["Math", "Chemistry"], [21, 12], True]

In [51]:
len(lst2)

3

### Indexing

In [54]:
lst[3]

12

In [56]:
lst2[1][1]

12

In [57]:
lst[1:]

['Chemistry', 200, 12, True, 'Pouria']

In [59]:
lst[1:-1]
lst[1:len(lst)-1]

['Chemistry', 200, 12, True]

### Append

In [52]:
lst.append("Pouria")

In [53]:
lst

['Math', 'Chemistry', 200, 12, True, 'Pouria']

Add multiple entities as a nested list

In [60]:
lst.append(["John", "Jack"])

In [61]:
lst

['Math', 'Chemistry', 200, 12, True, 'Pouria', ['John', 'Jack']]

### Insert
Insert in a specific order

In [62]:
lst.insert(1, "Nozari")

In [63]:
lst

['Math', 'Nozari', 'Chemistry', 200, 12, True, 'Pouria', ['John', 'Jack']]

### Extend
Add multiple entities separately

In [65]:
lst.extend(["Jack", "John"])

In [66]:
lst

['Math',
 'Nozari',
 'Chemistry',
 200,
 12,
 True,
 'Pouria',
 ['John', 'Jack'],
 'Jack',
 'John',
 'Jack',
 'John']

### `pop()` Method

In [68]:
lst.pop()

'John'

In [69]:
lst.pop(0)

'Math'

### `count()`

In [70]:
lst.count("John")

1

### `.index()`

In [71]:
lst = [1, 1, 2, 23, 4]

In [72]:
lst.index(1)

0

In [73]:
lst.index(1,1,4)

1

### Some other operations on Lists

In [74]:
lst*2

[1, 1, 2, 23, 4, 1, 1, 2, 23, 4]

## Sets
A set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set. This is based on a data structure known as a **hash table**.

In [1]:
# Define an empty set

set_var = set()

In [2]:
set_var = {1,2,3,4,3}
set_var

{1, 2, 3, 4}

In [3]:
set_var = {"Avengers", "Hitman", 'Ironman'}
print(set_var)
type(set_var)

{'Ironman', 'Hitman', 'Avengers'}

set

### Indexing

In [4]:
# No indexing in sets

set_var["Hitman"]

TypeError: 'set' object is not subscriptable

In [5]:
set_var.add("Hulk")
set_var

{'Avengers', 'Hitman', 'Hulk', 'Ironman'}

### Union, Intersection, Difference

Always remember you press `tab` after `.` to see the options.

In [6]:
set1 = {"Avengers", "Hitman", 'Ironman'}
set2 = {"Avengers", "Hitman", 'Ironman', "Hulk2"}

In [7]:
set2.difference(set1)

{'Hulk2'}

In [8]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'Ironman'}

In [11]:
set2.intersection_update(set1)
set2

{'Avengers', 'Hitman', 'Ironman'}

## Dictionaries
Dictionary is a collection which is unordered, changeable and indexed. In Python, dictionaries are written with curly brackets, and they have keys and values.

In [12]:
dic = {}
type(dic)

dict

In [13]:
set_ex = {1,2,3,4}
type(set_ex)

set

In [16]:
my_dict = {"Car1": "Audi", "Car2": "BMW", "Car3": "Mercedes Benz"}
type(my_dict)

dict

In [18]:
my_dict["Car1"]

'Audi'

We can also use for-loops to iterate through a dictionary:

In [19]:
for x in my_dict:
    print(x)

Car1
Car2
Car3

In [20]:
for x in my_dict.values():
    print(x)

Audi
BMW
Mercedes Benz

In [21]:
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercedes Benz')

### Add items to the dictionary

In [23]:
my_dict["Car4"] = "Audi 2.0"
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercedes Benz', 'Car4': 'Audi 2.0'}

In [24]:
my_dict["Car1"] = "Maserati"
my_dict

{'Car1': 'Maserati',
 'Car2': 'BMW',
 'Car3': 'Mercedes Benz',
 'Car4': 'Audi 2.0'}

### Nested Dictionaries

In [28]:
car1_model = {"Mercedes": 1960}
car2_model = {"Audi": 1970}
car3_model = {"Ambassador": 1980}

car_type = {"Car1": car1_model, "Car2": car2_model, "Car3": car3_model}
print (car_type)

{'Car1': {'Mercedes': 1960}, 'Car2': {'Audi': 1970}, 'Car3': {'Ambassador': 1980}}

In [29]:
# Let say we are looking for `1960`

car_type["Car1"]

{'Mercedes': 1960}

In [30]:
car_type["Car1"]["Mercedes"]

1960

## Tuples
Tuples are not mutable; once assigned the values cannot be overwritten.

In [31]:
my_tuple = tuple()
type(my_tuple)

tuple

In [33]:
my_tuple = ("Pouria", "Jack", "Suz")
my_tuple

('Pouria', 'Jack', 'Suz')

In [34]:
my_tuple[1]

'Jack'

You can completely change the entire thing and assign a new tuple to the current tuple but you cannot do so with items.

In [35]:
my_tuple[0] = "Nozari"

TypeError: 'tuple' object does not support item assignment

In [38]:
my_tuple = ("Pouria", "Nozari")
my_tuple

('Pouria', 'Nozari')

In [39]:
my_tuple.count("Pouria")

1

In [40]:
my_tuple.index("Nozari")

1